.button {
  width: 140px;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: white;
  background: $main-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &_main {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: 80px;
  }
  &_submit{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    font-size: 16px;
  }
}
